name: Deploy Laravel (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy env file
        run: |
          cp /var/www/klinik-system/.env .env

      - name: Install PHP dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Build frontend
        run: |
          npm install
          npm run build

      - name: Laravel deploy
        run: |
          php artisan migrate --force
          php artisan config:clear
          php artisan config:cache
          php artisan route:cache
          php artisan view:clear
