name: Deploy Laravel (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build frontend
        run: |
          npm install
          npm run build

      - name: Optimize
        run: |
          php artisan config:clear
          php artisan config:cache
          php artisan route:cache
          php artisan view:clear
